.travel{
    max-width:984px;
    margin: 56px 148px 0;
    display: flex;
    flex-direction: column;
}

@media screen and  (max-width:1024px){
    .travel{
        max-width:928px;
        margin:56px 48px 0;
    }
}

@media screen and  (max-width:768px){
    .travel{
        width:100%;
        margin:56px 0;
    }
}
